body{
	background-color:rgb(20,20,20);
	margin:40px auto;
	max-width:25em;
	line-height:1.6em;
	font-size:2.1vw;
	color:#444;
	padding:0 10px
	}

h1{
	color:rgb(200,200,200);
	text-decoration:underline;
	font-size:1.2em;
	text-align:center;
	}
	
h2,h3{
	color:rgb(200,200,200);
	text-decoration:underline;
	font-size:1.2em;
	}
	
p,li{
	color:rgb(200,200,200);
	
}

a{
	color:rgb(255,255,150);
	text-decoration:none;
}

a:hover{
	color:white;
}

.home{
	text-align:center;
}
